/** @type {import('tailwindcss').Config} */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .true {
    @apply border-t-2 border-sky-400 mt-2 h-2;
  }
  .time-bar {
    @apply bottom-10 left-0 w-full bg-sky-800 rounded-full h-1 mt-2.5 origin-[0%];
  }
  .PDIP {
    @apply bg-rose-400 text-white;
  }
  .Demokrat {
    @apply bg-rose-400 text-white;
  }
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.active-scroll-spy {
  background-color: yellowgreen;
  border-radius: 15px;
  transition: all 0.5s;
}

.judul {
  font-family: var(--alagreyaSC-font);
  font-weight: 800;
}
html {
  scroll-padding-top: 150px; /* height of your navbar */
}
